<div>
  <div>
    <mat-toolbar *appIsInRole="'admin'" color="primary">
      <span>
        <button (click)="add()" *appIsInRole="'admin'" color="primary" mat-button style="color: white">
          <mat-icon>note_add</mat-icon><mat-card-title>Add</mat-card-title>
        </button>
      </span>
    </mat-toolbar>
  </div>
  <table [dataSource]="taskDataSource" class="mat-elevation-z8 persons-table" mat-table>
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef class="w-75 th-center" mat-header-cell></th>
      <td *matCellDef="let element" mat-cell style="text-align: end">
        <button (click)="edit(element)" *appIsInRole="'admin'" color="primary" mat-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="delete(element)" *appIsInRole="'admin'" color="warn" mat-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell>id</th>
      <td *matCellDef="let element" mat-cell> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="designation">
      <th *matHeaderCellDef mat-header-cell>designation</th>
      <td *matCellDef="let element" mat-cell> {{element.designation}} </td>
    </ng-container>

    <ng-container matColumnDef="sequence">
      <th *matHeaderCellDef mat-header-cell>sequence</th>
      <td *matCellDef="let element" mat-cell> {{element.sequence}} </td>
    </ng-container>

    <ng-container matColumnDef="taskDuration">
      <th *matHeaderCellDef mat-header-cell>task duration</th>
      <td *matCellDef="let element" mat-cell> {{element.taskDuration}} </td>
    </ng-container>

    <ng-container matColumnDef="date setting">
      <th *matHeaderCellDef mat-header-cell>date setting</th>
      <td *matCellDef="let element" mat-cell> {{element.dateSetting}} </td>
    </ng-container>

    <ng-container matColumnDef="remarks">
      <th *matHeaderCellDef mat-header-cell>remarks</th>
      <td *matCellDef="let element" mat-cell> {{element.remarks}} </td>
    </ng-container>
    <tr *matHeaderRowDef="columns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: columns;" mat-row></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[3, 10]" [pageSize]="10"
                 showFirstLastButtons>
  </mat-paginator>

</div>

